<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dynamic page</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="application">
        <input type="radio" value="page_one" v-model="page_chose" />页面1
        <input type="radio" value="page_two" v-model="page_chose" />页面2
        <component :is="page_chose"></component>
    </div>
</body>
<script>
    const App = Vue.createApp({
        data(){
            return {
                page_chose: "page_one"
            }
        }
    })
    const page_one = {
        data() {
            return {
                message: "Hello World!",
                count: 0
            }
        },
        methods: {
            click(){
               this.count++
            }
        },
        template: `<div><button @click="click">按钮</button></div>
                    <p>{{message}}&nbsp;:&nbsp;{{count}}</p>`
    }
    const page_two = {
        data() {
            return {
                message: "shanliao is great!",
                count: 0
            }
        },
        methods: {
            click(){
               this.count++
            }
        },
        template: `<div><button @click="click">按钮</button></div>
                    <p>{{message}}&nbsp;:&nbsp;{{count}}</p>`
    }
    App.component("page_one", page_one)
    App.component("page_two", page_two)
    App.mount("#application")
</script>
</html>